
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">    
<table class="table" border="1">
    <caption>Movie List</caption>
    <tr>
        <th>movie id</th>
        <th>movie name</th>
        <th>movie desc</th>
        <th>movie releaseDate</th>
        <th>movie rating</th>
        <th>movie comments</th>
         <th>Update</th>
          <th>Delete</th>
    </tr>
    <tr *ngFor="let movies of movie">
        <td>{{movies.id}}</td>
        <td>{{movies.movieName}}  <img src="{{movies.imgUrl}}"  height="100" width="100"></td>
        <td>{{movies.desc}}</td>
        <td>{{movies.rdate | date}} </td>
         <td>{{movies.rate}} <app-rate   [rate]="movies.rate"></app-rate></td>
        <td>{{movies.comment}}</td>
         <td><button (click)="updateMovie(movies.id)" class="btn btn-success">Update</button></td>
        <td><button (click)="deleteMovie(movies.id)" class="btn btn-warning">Delete</button></td>
       
    </tr>
    </table></div>


<div class="row">
<button (click)="addMovie()" class="btn btn-success">ADD MOVIE</button>


</div>
